<div class="row">
    <div class="col-md-6">
        <div data-id="{{id}}">
            <h4><input type="checkbox">{{ingredient}}</h4>
            <p>Quantity: {{quantity}}</p>
            <p>Expires: {{expirationDate}}</p>
            <p>{{frequency}} Per Week</p>
            <button class="exp-shop">Move Item to Shopping List</button>
            <hr>
        </div>
    </div>
</div>