<div class="row">
    <div class="col-md-12 text-center">
        <div data-id="{{id}}">
            <h4>Ingredient: {{ingredient}}</h4>
            <p>Expires: {{expirationDate}}</p>
            <p>Purchase frequency: {{frequency}} Times Per Week</p>
            <button data-id="{{id}}" data-ingredient="{{ingredient}}" data-quantity="{{quantity}}" class="btn fridge-shop">Move to Shopping List</button>
            <button data-id="{{id}}" class="btn fridge-delete">Delete</button>
            <hr>
        </div>
    </div>
</div>