<div class="row">
    <div class="col-md-12 text-center">
        <div data-id="{{id}}">
            <h4>Ingredient: {{ingredient}}</h4>
            <p>Expires: {{expirationDate}}</p>
            <p>Purchase frequency: {{frequency}} Times Per Week</p>
<<<<<<< HEAD
            <button data-id="{{id}}" class="btn fridge-shop">Move to Shopping List</button>
            <button data-id="{{id}}" class="btn fridge-delete">Delete</button>
=======
            <button data-id="{{id}}" class="fridge-shop btn">Move to Shopping List</button>
            <button data-id="{{id}}" class="fridge-delete btn">Delete</button>
>>>>>>> Changed a bit of things
            <hr>
        </div>
    </div>
</div>