<div class="row">
    <div class="col-md-6">
        <div data-id="{{id}}">
            <h4>{{ingredient}}</h4>
            <p>Quantity: {{quantity}}</p>
            <p>Expires: {{expirationDate}}</p>
            <p>{{frequency}} Per Week</p>
            <button data-id="{{id}}" class="fridge-shop">Move to Shopping List</button>
            <button data-id="{{id}}" class="fridge-delete">Delete</button>
            <hr>
        </div>
    </div>
</div>