<div class="shopping-list-container">
    <div class="row">
        <div class="col-md-6">
            <div data-id="{{id}}">
                <p>Item: {{ingredient}}</p>
                <p>Quantity: {{quantity}}</p>
                <button type="button" class="btn addToFridgeBtn" data-target="#myModal" data-toggle="modal" id="shop-fridge" data-id="{{id}}" data-ingredient="{{ingredient}}" data-quantity="{{quantity}}">Add To Fridge</button>
                <hr>
            </div>
        </div>
    </div>
</div>