<div class="container">
    <div class="row">
    <div class="col-md-6">
        <div data-id="{{id}}">
            <p id="recipe-title">{{title}}</p>
            <a href="{{sourceUrl}}"><img src={{image}}></a>
            {{#if winePairing.pairingText}}
            <p>Wine pairing: {{winePairing.pairingText}}</p>
            {{/if}}
        </div>
    </div>
</div>
</div>
